$bg-color: #430d97;
$bg-light-color: #8439f6;
$bg-act-color: #F0E5FF;
$btn-color: #64E6A7;
$btn-shadow: #50C68D;
$white: #ffffff;
$grey-text: #888789;
$text-color: #161B22;
$btn-hover: #43B77F;
$border-color: #D9D9D9;
$bg-gr-color: #f2f1f1;